<h1>My Todo List!</h1>

<table>
  <tr>
    <th>Todo</th>
    <th></th>
  </tr>

  <% @todolists.each do |todolist| %>
    <tr>
      <td><%= todolist.todo %></td>
      <td><%= link_to 'Show', todolist_path(todolist) %></td>
    </tr>
  <% end %>
</table>
